scikit-learn==1.3.1
pandas==1.5.3
numpy==1.23.5
imblearn==0.0
seaborn==0.11.2
matplotlib==3.6.2
scipy==1.9.3
pylatex==1.4.0
joblib==1.2.0
dtreeviz==1.3.0
shap==0.46.0
xgboost==1.7.6
graphviz==0.13.0

# NOTE: Ensure MiKTeX is installed for pylatex functionality.